{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">Practica tus Aptitudes</div>
                </div>
                
            </div>
        </div>
        <!-- start widget --> 
        <div class="state-overview">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="overview-panel purple">
                        <div class="symbol">
                            <i class="fa fa-users usr-clr"></i>
                        </div>
                        <div class="value white">
                            <p class="sbold addr-font-h1" data-counter="counterup" data-value="23">0</p>
                            <p>APPOINTMENTS</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="overview-panel deepPink-bgcolor">
                        <div class="symbol">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="value white">
                            <p class="sbold addr-font-h1" data-counter="counterup" data-value="48">0</p>
                            <p>NEW STUDENTS</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="overview-panel orange">
                        <div class="symbol">
                            <i class="fa fa-heartbeat"></i>
                        </div>
                        <div class="value white">
                            <p class="sbold addr-font-h1" data-counter="counterup" data-value="14">0</p>
                            <p>TODAY'S OPT</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="overview-panel blue-bgcolor">
                        <div class="symbol">
                            <i class="fa fa-money"></i>
                        </div>
                        <div class="value white">
                            <p class="sbold addr-font-h1" data-counter="counterup" data-value="3421">0</p>
                            <span>$</span>
                            <p>University Earning</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          
    </div>
</div>


{% endblock %}